# Escludere phpmyadmin sul cloud 
/Users/francescogobbi/Library/Mobile Documents/com~apple~CloudDocs/Scuola/2024_2025/Didattica_GalileoGalilei_Ostiglia/AS_2024_2025/5IA_Informatica/DB/phpmyadmin/

# Eslude i DS_Store, file di MacOS per l'impostazione di parametri di ambiente
.DS_Store

# Esclude gli eseguibili MacOS (a.out)
a.out